<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guidie"
        tools:targetApi="31">
        <activity
            android:name=".activity.PersonalDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activity.NavActivity"
            />
        <activity
            android:name=".activity.BusinessDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activity.CityDetailsActivity"
            android:theme="@style/Theme.Guidie" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activity.CityDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activity.NavActivity"
            android:theme="@style/Theme.Guidie" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NavActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>